<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_MenubarCustomizeStates</key>
	<integer>0</integer>
	<key>CPU_AppFormat</key>
	<integer>0</integer>
	<key>CPU_MenubarMode</key>
	<array>
		<dict>
			<key>key</key>
			<string>100</string>
			<key>uuid</key>
			<string>0762F03A-9253-4C2E-AB38-C461DDF0F74C</string>
		</dict>
		<dict>
			<key>key</key>
			<string>6</string>
			<key>uuid</key>
			<string>F4288A2A-95D2-4CEB-BADC-D99E5096B517</string>
		</dict>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>uuid</key>
			<string>EAD5E76C-578B-45D1-A8DF-63A7B14F4FDD</string>
		</dict>
	</array>
	<key>CPU_ProcessCount</key>
	<integer>5</integer>
	<key>Disks_DropdownActivityDisplayMode</key>
	<integer>0</integer>
	<key>Disks_MenubarItems</key>
	<array>
		<dict>
			<key>boot</key>
			<true/>
			<key>key</key>
			<string>9755218D-1B49-3057-9979-6B5FF0B54515</string>
			<key>name</key>
			<string>Macintosh HD</string>
		</dict>
	</array>
	<key>DropdownTheme-Dark</key>
	<integer>3</integer>
	<key>Memory_AppFormat</key>
	<integer>0</integer>
	<key>Memory_MenubarMode</key>
	<array>
		<dict>
			<key>key</key>
			<string>100</string>
			<key>uuid</key>
			<string>B8BFEDE4-D3AB-4283-8659-39ADBDC8FB69</string>
		</dict>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>uuid</key>
			<string>4B407D2B-5107-4015-AF9D-9E05A13329FE</string>
		</dict>
	</array>
	<key>MenubarGraphOpacity-Dark</key>
	<real>0.54162502288818359</real>
	<key>MenubarSkinColor-Dark</key>
	<integer>1</integer>
	<key>Migrated_6.0</key>
	<true/>
	<key>Network_MenubarFontStyle</key>
	<integer>0</integer>
	<key>Network_MenubarMode</key>
	<array>
		<dict>
			<key>key</key>
			<string>0</string>
			<key>uuid</key>
			<string>4356F8C7-4A15-4A5F-A0E4-5BA94A785FE9</string>
		</dict>
	</array>
	<key>Network_MenubarUnitLevel</key>
	<integer>3</integer>
	<key>Network_TextBold</key>
	<integer>1</integer>
	<key>Network_TextUploadColor-Dark</key>
	<string>0.98 1.00 0.95 1.00</string>
	<key>Notifications-Enabled</key>
	<true/>
	<key>Notifications-Items</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>notification-type</key>
			<string>1</string>
			<key>rule-type</key>
			<string>18</string>
			<key>uuid</key>
			<string>336B3632-6C01-421E-A352-E706E58E567B</string>
			<key>value</key>
			<string>978332400</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>notification-type</key>
			<string>1</string>
			<key>rule-type</key>
			<string>17</string>
			<key>uuid</key>
			<string>6C9E9981-F02B-4432-B9C8-B6C08D692D56</string>
			<key>value</key>
			<string>1.00</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>notification-type</key>
			<string>0</string>
			<key>rule-type</key>
			<string>14</string>
			<key>uuid</key>
			<string>8FA7DD1E-441B-43C3-A2B5-C3FDCD7A03B1</string>
			<key>value</key>
			<string>10.00</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>notification-type</key>
			<string>1</string>
			<key>rule-type</key>
			<string>20</string>
			<key>uuid</key>
			<string>47541C3E-BA7D-46B6-B70B-A4A56AF04829</string>
			<key>value</key>
			<string>10.00</string>
		</dict>
	</array>
	<key>Sensors-Limits</key>
	<dict>
		<key>model</key>
		<string>MacBookPro11,4</string>
		<key>values</key>
		<dict>
			<key>ALSL</key>
			<dict>
				<key>max</key>
				<real>300</real>
				<key>min</key>
				<real>1</real>
			</dict>
			<key>IAPC</key>
			<dict>
				<key>max</key>
				<real>0.0</real>
				<key>min</key>
				<real>-1</real>
			</dict>
			<key>IBLC</key>
			<dict>
				<key>max</key>
				<real>0.0</real>
				<key>min</key>
				<real>-1</real>
			</dict>
			<key>IC0C</key>
			<dict>
				<key>max</key>
				<real>0.0</real>
				<key>min</key>
				<real>-1</real>
			</dict>
			<key>IC0R</key>
			<dict>
				<key>max</key>
				<real>5.8409605026245117</real>
				<key>min</key>
				<real>0.22775745391845703</real>
			</dict>
			<key>IC1C</key>
			<dict>
				<key>max</key>
				<real>0.76528096199035645</real>
				<key>min</key>
				<real>0.38798600435256958</real>
			</dict>
			<key>IC2C</key>
			<dict>
				<key>max</key>
				<real>38.369586944580078</real>
				<key>min</key>
				<real>1.5596581697463989</real>
			</dict>
			<key>IC3C</key>
			<dict>
				<key>max</key>
				<real>0.0</real>
				<key>min</key>
				<real>-1</real>
			</dict>
			<key>ICMC</key>
			<dict>
				<key>max</key>
				<real>0.0</real>
				<key>min</key>
				<real>-1</real>
			</dict>
			<key>ID0R</key>
			<dict>
				<key>max</key>
				<real>4.0724196434020996</real>
				<key>min</key>
				<real>1.9669530502142152e-06</real>
			</dict>
			<key>IHDC</key>
			<dict>
				<key>max</key>
				<real>1.6215177774429321</real>
				<key>min</key>
				<real>0.00012070709635736421</real>
			</dict>
			<key>IHSC</key>
			<dict>
				<key>max</key>
				<real>0.28087088465690613</real>
				<key>min</key>
				<real>2.871777269319864e-07</real>
			</dict>
			<key>ILDC</key>
			<dict>
				<key>max</key>
				<real>0.0</real>
				<key>min</key>
				<real>-1</real>
			</dict>
			<key>IM0C</key>
			<dict>
				<key>max</key>
				<real>2.4124090671539307</real>
				<key>min</key>
				<real>0.38539844751358032</real>
			</dict>
			<key>IO3R</key>
			<dict>
				<key>max</key>
				<real>0.62304234504699707</real>
				<key>min</key>
				<real>0.032575797289609909</real>
			</dict>
			<key>IO5R</key>
			<dict>
				<key>max</key>
				<real>0.31774330139160156</real>
				<key>min</key>
				<real>0.011653815396130085</real>
			</dict>
			<key>IPBR</key>
			<dict>
				<key>max</key>
				<real>5.3733305931091309</real>
				<key>min</key>
				<real>0.27251487970352173</real>
			</dict>
			<key>PCPC</key>
			<dict>
				<key>max</key>
				<real>38.6015625</real>
				<key>min</key>
				<real>0.2421875</real>
			</dict>
			<key>PCPG</key>
			<dict>
				<key>max</key>
				<real>30.484375</real>
				<key>min</key>
				<real>0.0078125</real>
			</dict>
			<key>PCPT</key>
			<dict>
				<key>max</key>
				<real>64.125</real>
				<key>min</key>
				<real>2.40625</real>
			</dict>
			<key>PDTR</key>
			<dict>
				<key>max</key>
				<real>80.5386962890625</real>
				<key>min</key>
				<real>1.0720365928307274e-08</real>
			</dict>
			<key>PSTR</key>
			<dict>
				<key>max</key>
				<real>87.6875</real>
				<key>min</key>
				<real>4.421875</real>
			</dict>
			<key>TB1T</key>
			<dict>
				<key>max</key>
				<real>38.19921875</real>
				<key>min</key>
				<real>23.296875</real>
			</dict>
			<key>TB2T</key>
			<dict>
				<key>max</key>
				<real>37.09765625</real>
				<key>min</key>
				<real>23.5</real>
			</dict>
			<key>TC0P</key>
			<dict>
				<key>max</key>
				<real>75.375</real>
				<key>min</key>
				<real>26.125</real>
			</dict>
			<key>TC1C</key>
			<dict>
				<key>max</key>
				<real>100</real>
				<key>min</key>
				<real>35</real>
			</dict>
			<key>TC2C</key>
			<dict>
				<key>max</key>
				<real>100</real>
				<key>min</key>
				<real>35</real>
			</dict>
			<key>TC3C</key>
			<dict>
				<key>max</key>
				<real>100</real>
				<key>min</key>
				<real>32</real>
			</dict>
			<key>TC4C</key>
			<dict>
				<key>max</key>
				<real>98</real>
				<key>min</key>
				<real>33</real>
			</dict>
			<key>TCGC</key>
			<dict>
				<key>max</key>
				<real>100</real>
				<key>min</key>
				<real>36</real>
			</dict>
			<key>TCSA</key>
			<dict>
				<key>max</key>
				<real>92</real>
				<key>min</key>
				<real>32</real>
			</dict>
			<key>TCXC</key>
			<dict>
				<key>max</key>
				<real>99.4375</real>
				<key>min</key>
				<real>35</real>
			</dict>
			<key>TH0A</key>
			<dict>
				<key>max</key>
				<real>64.25</real>
				<key>min</key>
				<real>26.5</real>
			</dict>
			<key>TH0B</key>
			<dict>
				<key>max</key>
				<real>62.25</real>
				<key>min</key>
				<real>26.25</real>
			</dict>
			<key>TM0P</key>
			<dict>
				<key>max</key>
				<real>61.5</real>
				<key>min</key>
				<real>24.375</real>
			</dict>
			<key>TP0P</key>
			<dict>
				<key>max</key>
				<real>58.75</real>
				<key>min</key>
				<real>25.75</real>
			</dict>
			<key>TPCD</key>
			<dict>
				<key>max</key>
				<real>64</real>
				<key>min</key>
				<real>30</real>
			</dict>
			<key>TW0P</key>
			<dict>
				<key>max</key>
				<real>55.375</real>
				<key>min</key>
				<real>23.75</real>
			</dict>
			<key>Ta0P</key>
			<dict>
				<key>max</key>
				<real>45.875</real>
				<key>min</key>
				<real>23.875</real>
			</dict>
			<key>Th1H</key>
			<dict>
				<key>max</key>
				<real>57.5</real>
				<key>min</key>
				<real>24.875</real>
			</dict>
			<key>Th2H</key>
			<dict>
				<key>max</key>
				<real>54.375</real>
				<key>min</key>
				<real>23.75</real>
			</dict>
			<key>Ts0P</key>
			<dict>
				<key>max</key>
				<real>36.875</real>
				<key>min</key>
				<real>23.4375</real>
			</dict>
			<key>Ts1P</key>
			<dict>
				<key>max</key>
				<real>36</real>
				<key>min</key>
				<real>22.1875</real>
			</dict>
			<key>VC0C</key>
			<dict>
				<key>max</key>
				<real>1.7882664203643799</real>
				<key>min</key>
				<real>1.6374132633209229</real>
			</dict>
			<key>VD0R</key>
			<dict>
				<key>max</key>
				<real>20.60638427734375</real>
				<key>min</key>
				<real>5.3224998737277929e-06</real>
			</dict>
			<key>VP0R</key>
			<dict>
				<key>max</key>
				<real>12.990777015686035</real>
				<key>min</key>
				<real>11.3643798828125</real>
			</dict>
		</dict>
	</dict>
	<key>Sensors-Limits-Updated</key>
	<true/>
	<key>Sensors_MenubarItems</key>
	<array>
		<dict>
			<key>key</key>
			<string>TCXC</string>
		</dict>
	</array>
	<key>Sensors_MenubarMode</key>
	<array>
		<dict>
			<key>key</key>
			<string>100</string>
			<key>uuid</key>
			<string>00F2F56E-4D07-4D7E-9982-5F606ED359BF</string>
		</dict>
		<dict>
			<key>key</key>
			<string>0</string>
			<key>uuid</key>
			<string>70EFB94F-F7F9-4647-BB27-3908C4589034</string>
		</dict>
	</array>
	<key>StatusItems-Order</key>
	<array>
		<integer>8</integer>
		<integer>9</integer>
	</array>
	<key>Time_MenubarFormat</key>
	<array>
		<dict>
			<key>format</key>
			<array>
				<array>
					<string>EE</string>
					<string>' '</string>
					<string>HH</string>
					<string>:</string>
					<string>mm</string>
				</array>
			</array>
		</dict>
	</array>
	<key>TimerFrequency</key>
	<integer>2</integer>
	<key>Weather_Cache_Locations_AW</key>
	<dict>
		<key>2725201</key>
		<dict>
			<key>AdministrativeArea</key>
			<dict>
				<key>CountryID</key>
				<string>SE</string>
				<key>EnglishName</key>
				<string>Stockholm</string>
				<key>EnglishType</key>
				<string>County</string>
				<key>ID</key>
				<string>AB</string>
				<key>Level</key>
				<integer>1</integer>
				<key>LocalizedName</key>
				<string>Stockholm</string>
				<key>LocalizedType</key>
				<string>County</string>
			</dict>
			<key>Country</key>
			<dict>
				<key>EnglishName</key>
				<string>Sweden</string>
				<key>ID</key>
				<string>SE</string>
				<key>LocalizedName</key>
				<string>Sweden</string>
			</dict>
			<key>DataSets</key>
			<array>
				<string>Alerts</string>
				<string>MinuteCast</string>
			</array>
			<key>EnglishName</key>
			<string>Arsta</string>
			<key>GeoPosition</key>
			<dict>
				<key>Elevation</key>
				<dict>
					<key>Imperial</key>
					<dict>
						<key>Unit</key>
						<string>ft</string>
						<key>UnitType</key>
						<integer>0</integer>
						<key>Value</key>
						<real>183</real>
					</dict>
					<key>Metric</key>
					<dict>
						<key>Unit</key>
						<string>m</string>
						<key>UnitType</key>
						<integer>5</integer>
						<key>Value</key>
						<real>56</real>
					</dict>
				</dict>
				<key>Latitude</key>
				<real>59.296999999999997</real>
				<key>Longitude</key>
				<real>18.052</real>
			</dict>
			<key>IsAlias</key>
			<false/>
			<key>Key</key>
			<string>310016</string>
			<key>LocalizedName</key>
			<string>Arsta</string>
			<key>ParentCity</key>
			<dict>
				<key>EnglishName</key>
				<string>Stockholm</string>
				<key>Key</key>
				<string>314929</string>
				<key>LocalizedName</key>
				<string>Stockholm</string>
			</dict>
			<key>PrimaryPostalCode</key>
			<string></string>
			<key>Rank</key>
			<integer>95</integer>
			<key>Region</key>
			<dict>
				<key>EnglishName</key>
				<string>Europe</string>
				<key>ID</key>
				<string>EUR</string>
				<key>LocalizedName</key>
				<string>Europe</string>
			</dict>
			<key>SupplementalAdminAreas</key>
			<array/>
			<key>TimeZone</key>
			<dict>
				<key>Code</key>
				<string>CEST</string>
				<key>GmtOffset</key>
				<real>2</real>
				<key>IsDaylightSaving</key>
				<true/>
				<key>Name</key>
				<string>Europe/Stockholm</string>
				<key>NextOffsetChange</key>
				<string>2018-10-28T01:00:00Z</string>
			</dict>
			<key>Type</key>
			<string>City</string>
			<key>Version</key>
			<integer>1</integer>
			<key>_fetchTime</key>
			<real>1528484357.0811319</real>
		</dict>
	</dict>
	<key>Weather_MenubarMode</key>
	<array>
		<dict>
			<key>mode</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>902E23CC-BFFE-4A90-A381-7916DC5C6E6D</string>
		</dict>
		<dict>
			<key>mode</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>5BDCEECE-AB8D-4E25-8C74-070EA4BB2AA5</string>
		</dict>
	</array>
	<key>Weather_Mode</key>
	<integer>0</integer>
	<key>Weather_TemperatureUnits</key>
	<integer>0</integer>
	<key>_mac_id</key>
	<string>722a390b2505b2a9d083f3b236c3b66b</string>
</dict>
</plist>
