" Use system level clipboard
set clipboard+=unnamed
"
" Keep N lines visible above/below the cursor
set scrolloff=5
set surround

" Enable which-key plugin
" https://plugins.jetbrains.com/plugin/15976-which-key/
set which-key

set ideajoin
